<!DOCTYPE html>
<html class="h-full overscroll-none" lang="en">
<head>
    <base href={{baseUrl "/"}}>
    <meta charset="utf-8">
    <link rel="stylesheet" href={{baseUrl "/css/style.css"}}>
    <link rel="icon" type="image/x-icon" href={{baseUrl "/favicon.ico"}}>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body class="bg-gradient-to-r from-orange-200 to-orange-300 h-full">
    {{{body}}}
</body>
</html>
