<div class="{{bg}} flex flex-col rounded p-2">
    <label for="{{title}}" class="pl-1 pb-1 text-white font-bold">{{title}}</label>
    <div class="w-full">
        <input type="{{input_type}}"
               id="{{title}}" name="{{name}}" value="{{value}}"
               class="{{bg}} rounded w-full text-black font-bold px-3 py-1.5 outline-none">
    </div>
</div>